h1.t-title {font-size: 26px;margin: 37px 0 0 !important;font-weight:bold}
h2.t-subtitle {font-size:20px !important;}
/* ul.w3-ul {list-style-type: square !important;margin: 0 0 0 18px !important;} */
.buttonpos {position:absolute;bottom:36px;width:220px;margin:0 -108px;}
.outer-width {max-width:932px;margin:auto;}
.bgplicker {background-color: blue;}


div.menufix{margin-left:-8px;text-align:left;font-weight:bold;}

h2.card-header { font-size:18px;font-weight:bold; }

.blackback {background-color:black}
.whiteback {background-color:white}

.grid-mash {float:left;width:30%;min-width:300px;}

.inner-grid {text-align:left;font-size:1.1em;margin-top:1em;}

.card-size {
  height: 400px;
  margin: 10px;
  position: relative;
  border: 1px solid white;
}


/* responsive stuff here
   3 col at full screen
   break to 2 col at 948
   break to 1 col at 648
   Major Width (outer-width): 632 for two tiles, 332 for one tile    
*/ 

@media only screen and (max-width:948px){
  .outer-width {width:632px; max-width:100%;}
  .bgplicker {background-color: green;}  
}

@media only screen and (max-width:648px){
  .outer-width {width:100%;}
  .bgplicker {background-color: red;}  
  .grid-mash {float:left;width:100%;min-width:300px;}
  /* .inner-grid {text-align:left;font-size:3.8vw;margin-top:1em;} */
}

/* works/needed for iphone 4/5 only */
@media only screen and (max-width:320px){
  .grid-mash {min-width:290px;}
}
